<a href="https://colab.research.google.com/github/Gul-Fatima/Python-Essentials/blob/main/PythonPractce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a code to find the minimum among three given numbers.

In [2]:
a = 8
b = 5
c = 4

def min(a,b,c):
  if a<b and a< c:
    return a
  if b < a and b < c:
    return b
  else:
    return c

min(a,b,c)

4

2. Write a code to check whether a given number is a palindrome.

In [6]:
a = '45'
b = '44'
def palindrome(a):
  return a[:] == a[::-1]

palindrome(a)
#palindrome(b)

False

3. Write a code to find the sum of numbers divisible by 4.The code must allow the user to accept a number and add it to the sum if it is divisible by 4. It should continue accepting numbers as long as the user wants to provide an input and should display the final sum.

In [9]:
def sum_divisible_by_4():
  a = input("Enter the limit: ")
  sum = 0
  for i in range (0,int(a)) :
    if i % 4 == 0:
      sum += i
  print(sum)
sum_divisible_by_4()

Enter the limit: 8
4

4. A three digit number is said to be an “Armstrong number” if the sum of the third power of its individual digits is equal to the number itself.Write a program to check whether a number is armstrong or not.

In [10]:
a = 890

def armstrong(a):
  sum = 0
  for i in str(a):
    sum += int(i)**3

  return sum == a

armstrong(a)

False

5. JIT University offering degree courses to students has decided to provide scholarship based on the following details:
Branch of study
Score (%)
Scholarship %
Remarks
Arts
Score is at least 90
50
The student is eligible only for one scholarship% even if both the score conditions are valid for the given branch of study. In such cases, students are eligible for the highest scholarship% applicable among the two.
Arts
Score is an odd number
5
Engineering
Score is more than 85
50
Engineering
Score is divisible by 7
5

If there are 500 students who have joined the university, write a code to calculate and display the final fees to be paid by each student.
You may accept the branch of study, score and course fee as inputs for each student and calculate the final fees to be paid by each student based on formulae given below:
Scholarship amount=course fee * (scholarship%)
Final fee= course fee - scholarship amount

6. The flight ticket rates for a round-trip (Mumbai->Dubai) were as follows:

* Rate per Adult: Rs. 37550.0
* Rate per Child: 1/3rd of the rate per adult
* Service Tax: 7% of the ticket amount (including all passengers)

As it was a holiday season, the airline also offered a **10% discount** on the final ticket cost (after inclusion of the service tax).
Find and display the total ticket cost for a group which had adults and children.

In [21]:
group = {
    'adults': 2,
    'children': 1
}
price = 0
def ticket_price():
  global price
  for i in group:
      if i == 'adults':
        price += group[i] * 37550
      if i == 'children':
        price += group[i] * 0.333*37550

  price += price * 0.07
  price -= price * 0.1
  return price

ticket_price()

84362.79645

7.  Write a python program that displays a message as follows for a given number:
* If it is a multiple of three, display "Zip"
* If it is a multiple of five, display "Zap".
* If it is a multiple of both three and five, display "Zoom".
* If it does not satisfy any of the above given conditions, display "Invalid".

In [23]:
num = 15

def multiple():
  if num % 3 == 0 and num % 5 == 0:
    return 'Zoom'
  elif num % 3 == 0:
    return 'Zip'
  elif num % 5 == 0:
    return 'Zap'
  else:
    return 'invalid'

multiple()

'Zoom'

8.	A teacher in a school wants to find and display the grade of a student based on his/her percentage score. The criterion for grades is as given below:

Between 80 and 100
A

Between 73 and 79
B

Between 65 and 72
C

Between 0 and 64
D

Any other value
Z

In [3]:
def grade(grade):
  if grade >= 80 and grade <= 100:
    return 'A'
  if grade >= 73 and grade <= 79:
    return 'B'
  if grade >= 65 and grade <= 72:
    return 'C'
  if grade>= 0 and grade <= 64:
    return 'C'
  else:
     return 'Z'

grade(80)

'A'